body, html {
  font-family: 'Lato', sans-serif;
  position: relative;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
} 
img {
  max-width: 100%;
}

.wrapper {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  margin-bottom: 35px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.h2 {
  position: relative;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #1ab798;
  &:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background: #babdc1;
    left: -72px;
    top: 50%;
    transform: translateY(-50%);
  }  
  &:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background: #babdc1;
    right: -72px;
    top: 50%;
    transform: translateY(-50%);
  }  
}

.s-line {
  // position: relative
  font-size: 0;
  width: 170px;
  margin: 0 auto;
  margin-top: 8px;
  span {
    position: relative;
    display: inline-block;
    width: 78px;
    height: 2px;
    background: #343c3f;
  }  
  &__left {
    margin-right: 2px;
    &:after {
      content: '';
      position: absolute;
      width: 11px;
      height: 2px;
      transform: rotate(122deg);
      background: #343c3f;
      right: -7px;
      top: -4px;
    }  
  }
  &__right {
    margin-left: 2px;
    &:before {
      content: '';
      position: absolute;
      width: 11px;
      height: 2px;
      transform: rotate(122deg);
      background: #343c3f;
      left: -7px;
      top: 4px;
    }  
  }    
}

.btn {
  font-size: 16px;
  color: #fff;
  padding: 5px 15px;
  background-color: #c0af96;
  border: 2px solid #c0af96;
  &-form {
    max-width: 300px;
    width: 100%;
  }
  &:hover {
    color: #c0af96;
    background-color: #fff;
  }
  &:focus {
    box-shadow: none;
  }
}

.progress-container {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 3px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: transparent;
  z-index: 1500;
}

.progress-bar {
  width: 0%;
  float: left;
  height: 100%;
  z-index:99;
  max-width: 100%;
  background-color: #fc3865;
  transition: width .6s ease;
}

.scroll-down {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  &__img {
    position: relative;
    top: 0;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    svg {
      width: 1em;
      height: 1em;
      font-size: 32px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
}




@keyframes bounce {
  100% {
    top: -20px;
  }
}

.s-price {
  &__text {

  }
  &__span {
    font-weight: bold;
  }
}

.m-0 {
  margin: 0;
}

.paragraph-scroll {
  position: absolute;
  top: -50px;
  width: 100%;
  height: 1px;
}