body, html {
  font-family: "HelveticaNeueRegular";
  position: relative;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
<<<<<<< HEAD
=======
  @media screen and (max-width: 450px) {
    padding: 0 10px;
  }
>>>>>>> bf6afa94a93899d9c91306fa39e0682b1bc57fea
  &.middle {
    max-width: 1200px;
  }
  &.small {
    max-width: 1000px;
  }
  &-bg {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    background: rgba(0,0,0,.75);
    &.open {
      display: block;
    }
  }
}

.title {
  margin-bottom: 35px;
  text-align: center;

}

.logo {
  &-link {
    display: flex;
    align-items: center;
  }
}

.m-r-20 {
  margin-right: 20px;
}

.h2 {
  position: relative;
  font-family: "HelveticaNeueBold";
  font-size: 45px;
  @include css-lock(29,45,320,1920);
  display: inline-block;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 60px;
  //   height: 1px;
  //   background: #babdc1;
  //   left: -72px;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
  // &:after {
  //   content: '';
  //   position: absolute;
  //   width: 60px;
  //   height: 1px;
  //   background: #babdc1;
  //   right: -72px;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
}

.s-line {
  // position: relative
  font-size: 0;
  width: 170px;
  margin: 0 auto;
  margin-top: 8px;
  span {
    position: relative;
    display: inline-block;
    width: 78px;
    height: 2px;
    background: $color-grey;
  }
  &__left {
    margin-right: 2px;
    &:after {
      content: '';
      position: absolute;
      width: 11px;
      height: 2px;
      transform: rotate(122deg);
      background: $color-grey;
      right: -7px;
      top: -4px;
    }
  }
  &__right {
    margin-left: 2px;
    &:before {
      content: '';
      position: absolute;
      width: 11px;
      height: 2px;
      transform: rotate(122deg);
      background: $color-grey;
      left: -7px;
      top: 4px;
    }
  }
<<<<<<< HEAD
=======
}

.drop-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 6px dashed;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  transition: all .3s;
>>>>>>> bf6afa94a93899d9c91306fa39e0682b1bc57fea
}

.vertical-line {
  width: 1px;
  height: 100%;
  background-color: $color-red
}

.progress-container {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 1px;
  margin-bottom: 0px;
  background-color: transparent;
  z-index: 1500;
}

.progress-bar {
  width: 0%;
  float: left;
  height: 100%;
  z-index:99;
  max-width: 100%;
  background-color: $color-red;
  box-shadow: 0 2px 7px $color-red;
  transition: width .6s ease;
}

.scroll-down {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  &__img {
    position: relative;
    top: 0;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    svg {
      width: 1em;
      height: 1em;
      font-size: 32px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
}

.circle {
  width: 18px;
  img {
    width: 100%;
  }
  &.small {
    width: 9px;

  }
  &.big {
    width: 30px;
  }
  &.opacity {
    opacity: .5;
  }
}

.stars-grid {
  position: absolute;
}

@keyframes bounce {
  100% {
    top: -20px;
  }
}

.s-price {
  list-style-type: disc;
  &__text {
    font-size: 15px;
    font-weight: 600;
  }
}

.m-0 {
  margin: 0;
}

.paragraph-scroll {
  position: absolute;
  top: -50px;
  width: 100%;
  height: 1px;
}

.social {
  display: flex;
  margin-left: 60px;
<<<<<<< HEAD
=======
  @media screen and (max-width: 1100px) {
    justify-content: center;
    margin-left: 0;
  }
>>>>>>> bf6afa94a93899d9c91306fa39e0682b1bc57fea
  &-itm {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: all .4s;
    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
    &__link {
      display: flex;
      width: 40px;
      height: 40px;
    }
  }
}
<<<<<<< HEAD
=======

.images-bg {
  position: absolute;
  display: flex;
  bottom: 70px;
  &__itm {
    padding: 0;
    &.hidden-tablet {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    &.hidden-all {
      @media screen and (max-width: 550px) {
        display: none;
      }
    }
  }
}
>>>>>>> bf6afa94a93899d9c91306fa39e0682b1bc57fea
