.courses {
  position: relative;
  background: #f8f8f8;
  background-image: url(../img/bg-1.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  &__content {
    padding: 80px 35px;
    background-color: rgba(255,255,255,.9);
  }
  &__descr {
    max-width: 900px;
    margin: 0 auto;
  }
}

.courses-item {
  display: flex;
  margin-bottom: 50px;
  &__inner {
    display: flex;
  }
  &__img {
    flex: 0 0 240px;
    img {

    }
  }
  &__icon {
    flex: 0 0 32px;
  }
  &__title {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  &__subtitle {
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__descr {
    flex: 0 0 calc(100% - 240px);
    padding-left: 40px;
  }
  &__text {
    font-size: 16px;
    padding-top: 6px;
  }
  &_right {
    .courses-item__descr {
      padding: 0 0 0 40px;
    }
  }
}