.courses {
  position: relative;
  &__content {
    padding: 80px 0 0 0;
  }
  &__block {
    padding: 30px 0;
    background-color: rgba(255,255,255,.8);
    &.lite-opacity {
      background-color: rgba(255,255,255,.45);
    }
  }
  &__section {
    // background-color: #7c7c7c;
    &.bg-img {
      background-image: url(../img/bg-1.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }
    &.bg-img-map {
      background-image: url(../img/cources/bitmap.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    }
  }
}

.courses-item {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
  &__inner {
    display: flex;
  }
  &__img {
    flex: 0 0 260px;
    padding: 10px;
    border: 1px solid $color-red;
    img {

    }
    &.reverse {
      order: 1;
    }
  }
  &__icon {
    flex: 0 0 28px;
    padding-top: 3px;
  }
  &__title {
    font-family: "HelveticaNeueBold";
    font-size: 29px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__subtitle {
    font-family: "HelveticaNeueBold";
    font-size: 20px;
    margin-bottom: 15px;
  }
  &__descr {
    flex: 0 0 calc(100% - 240px);
    padding: 0 40px;
  }
  &__text {
    font-size: 17px;
    margin-bottom: 18px;
  }
  &_right {
    .courses-item__descr {
      padding: 0 0 0 40px;
    }
  }
}
