.footer {
  padding: 5px 0;
  background-color: #979797;
  &__content {
    text-align: center;
    color: #fff;
  }
  &__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.copyright {
  text-align: center;
  &__text {
    font-family: "HelveticaNeueBold";
    font-size: 16px;
		color: #000;
  }
}
