.order-form{
	max-width: 550px;
	padding: 50px;
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;
	}
	&__field {
		position: relative;
		z-index: 1;
		display: inline-block;
		width: 100%;
		vertical-align: top;
		&-big {
			width: 100%;
		}
	}
	&__btn {
		text-align: center;
	}
	&__textarea {
		font-size: 14px;
		height: 100px;
		width: 100%;
		color: #000000;
		padding: 10px;
		font-weight: 700;
		border: 1px solid #9b9b9b;
		resize: none;
		&::placeholder {
			color: #9b9b9b;
		}
	}
	&__input {
		position: relative;
		display: block;
		float: right;
		padding: 0.8em;
		border: none;
		border-radius: 0;
		background: #f0f0f0;
		color: #aaa;
		width: 100%;
		background: transparent;
		color: #000;
		font-weight: bold;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		-webkit-appearance: none; /* for box shadows to show on iOS */
		&:focus + .order-form__label .graphic--madoka {
			stroke-dashoffset: 0;
		}
		&:focus + .order-form__label .order-form__label-content {
			transform: scale3d(0.81, 0.81, 1) translate3d(0, -40px, 0);
		}
		&:focus + .order-form__label {
			cursor: default;
			pointer-events: none;
		}
	}
	&__label {
		display: flex;
		align-items: center;
		font-size: 14px;
		padding: 0 10px;
		color: #9b9b9b;
		position: absolute;
		width: 100%;
		height: 100%;
		cursor: text;
		-webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&-content {
			position: relative;
			display: block;
			width: 100%;
			transform-origin: 0% 50%;
			transition: transform 0.3s;
		}
	}
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.graphic--madoka {
	transform: scale3d(1, -1, 1);
	transition: stroke-dashoffset 0.3s;
	pointer-events: none;
	stroke: #9b9b9b;
	stroke-width: 4px;
	stroke-dasharray: 962;
	stroke-dashoffset: 558;
}

.input--filled .input__label--madoka {
	cursor: default;
	pointer-events: none;
}


.input--filled .graphic--madoka {
	stroke-dashoffset: 0;
}

.input--filled .order-form__label-content {
	transform: scale3d(0.81, 0.81, 1) translate3d(0, -40px, 0);
}
