.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding-top: 90px;
  background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(239,239,239,1) 49%, rgba(225,225,225,1) 100%);
  &__content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.topline {
  position: fixed;
  padding: 10px 15px;
  right: 0;
  left: 0;
  background-color: #fcfcfc;
  border-bottom: 1px solid #e1e1e1;
  z-index: 9999;
  &.boxShadow {
    box-shadow: 0 -3px 33px 0px #362424;
  }
  &__content {
    max-width: 1300px;
    margin: 0 auto;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      @media screen and (max-width: 1150px) {
        display: none;
      }
    }
    @media screen and (max-width: 1150px) {
      flex-direction: column;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      padding-bottom: 25px;
      background-color: #fff;
      transform: translate(100%,0);
      transition: all .3s;
      z-index: 9999;
    }
    &.open {
      transform: translate(0, 0);
    }
  }
  &__btn {
    display: flex;
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
    &-inner {
      display: flex;
      &.first {
        margin-right: 15px;
        @media screen and (max-width: 550px) {
          margin: 0 0 15px 0;
        }
      }
    }
  }
}



.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  @media screen and (max-width: 1150px) {
    flex-direction: column;
    width: 100%;
  }
  &__item {
    margin: 0 20px;
    padding: 10px 0;
    @media screen and (max-width: 1366px) {
      margin: 0 10px;
    }
  }
  &__link {
    position: relative;
    display: block;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    &.active {
      color: red;
      &:hover {
        color: red;
      }
    }

    &:before {
      content: '';
      position: absolute;
      bottom: -4px;
      width: 0;
      left: 50%;
      height: 1px;
      background: #ab9256;
      transform: translateX(-50%);
      transition: all .3s;
    }
    &:hover {
      color: #000;
      text-decoration: none;
      &:before {
        width: 100%;
      }
    }
  }
}

.nav-respons {
  display: none;
  @media screen and (max-width: 1150px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar-responsive {
  &__btn {
    display: none;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 56px;
    height: 42px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    @media screen and (max-width: 1150px) {
      display: block;
    }
    &:focus {
      outline: none
    }
    span {
      display: block;
      position: absolute;
      top: 50%;
      left: 6px;
      right: 6px ;
      height: 4px;
      border-radius: 2px;
      background: $color-red;
      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $color-red;
      }
      &::before {
        top: -12px;
      }
      &::after {
        bottom: -12px;
      }
    }
    &-active {
      // background-color: #5fa610;
      span {
        transition: background 0 0.3s;
        &::before,
        &::after {
          transition-duration: 0.3s, 0.3s;
          transition-delay: 0.3s, 0;
        }
        &::before {
          transition-property: top, transform;
        }
        &::after {
          transition-property: bottom, transform;
        }
      }
      &.active {
        opacity: 0.7;
        span {
          background: none;
          &::before,
          &::after {
            transition-delay: 0, 0.3s;
          }
          &::before {
            top: 0;
            transform: rotate(45deg);
          }
          &::after {
            bottom: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.map {
  display: flex;
  justify-content: center;
  width: 100%;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
  &__block {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1200px) {
      max-height: 50vh;
    }
    &.left {
      @media screen and (max-width: 1400px) {
        // margin-right: -40px;
      }
    }
  }
  &__itm1 {
    width: 459px;
    @media screen and (max-width: 1400px) {
      width: 413px;
    }
    @media screen and (max-width: 1200px) {
      width: 350px;
    }
  }
  &__itm2 {
    width: 342px;
    @media screen and (max-width: 1400px) {
      width: 308px;
    }
    @media screen and (max-width: 1200px) {
      width: 261px;
    }
  }
  &__itm3 {
    width: 274px;
    @media screen and (max-width: 1400px) {
      width: 245px;
    }
    @media screen and (max-width: 1200px) {
      width: 208px;
      width: 40%;
    }
  }
  &__itm4 {
    width: 271px;
    @media screen and (max-width: 1400px) {
      width: 245px;
    }
    @media screen and (max-width: 1200px) {
      width: 208px;
      width: 40%;
    }
  }
}

/* Animate scroll-down*/

$colorBg: #ffffff;
$colorOutline: #d0021b;
$colorOutlineFade: #4e5559;

$widthMouse: 30px;
$heightMouse: 52px;
$borderMouse: 6px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 8px;
$posTrackball: 16px;
$shrinkTrackball: 0.4;

$animDuration: 5s;

@mixin bgGradient {
  background:
    $colorOutlineFade
    linear-gradient(
      transparent 0%,
      transparent 50%,
      $colorOutline 50%,
      $colorOutline 100%
    );
}

.scroll-down {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  @include bgGradient;
  width: $widthMouse;
  height: $heightMouse;
  background-size: 100% 100%;
  border-radius: 100px;
  background-size: 225%;
  animation:
    colorSlide $animDuration linear infinite,
    nudgeMouse $animDuration ease-out infinite;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
  }
  &:before {
    width: $widthMouse - $borderMouse;
    height: $heightMouse - $borderMouse;
    background-color: $colorBg;
    border-radius: 100px;
  }
  &:after {
    background-color: $colorOutline;
    width: $sizeTrackball;
    height: $sizeTrackball;
    border-radius: 100%;
    animation: trackBallSlide $animDuration linear infinite;
  }
}

@keyframes colorSlide {
  0% { background-position: 0% 100%; }
  20% { background-position: 0% 0%; }
  21% { background-color: $colorOutlineFade; }
  29.99% {
    background-color: $colorOutline;
    background-position: 0% 0%;
  }
  30% {
    background-color: $colorOutlineFade;
    background-position: 0% 100%;
  }
  50% { background-position: 0% 0%; }
  51% { background-color: $colorOutlineFade; }
  59% {
    background-color: $colorOutline;
    background-position: 0% 0%;
  }
  60% {
    background-color: $colorOutlineFade;
    background-position: 0% 100%;
  }
  80% { background-position: 0% 0%; }
  81% { background-color: $colorOutlineFade; }
  90%, 100% { background-color: $colorOutline; }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  14% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  15%, 19% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  44% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  45%, 49% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  74% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }
  75%, 79% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
}

@keyframes nudgeMouse {
  0% { transform: translateY(0); }
  20% { transform: translateY($posMouse); }
  30% { transform: translateY(0); }
  50% { transform: translateY($posMouse); }
  60% { transform: translateY(0); }
  80% { transform: translateY($posMouse); }
  100% { transform: translateY(0); }
}

@keyframes nudgeText {
  0% { transform: translateY(0); }
  20% { transform: translateY($posText); }
  30% { transform: translateY(0); }
  50% { transform: translateY($posText); }
  60% { transform: translateY(0); }
  80% { transform: translateY($posText); }
  90% { transform: translateY(0); }
}

@keyframes colorText {
  21% { color: $colorOutlineFade; }
  30% { color: $colorOutline; }
  51% { color: $colorOutlineFade; }
  60% { color: $colorOutline; }
  81% { color: $colorOutlineFade; }
  90% { color: $colorOutline; }
}
/* end scroll-down */

.map-svg {
  // transition: fill .4s ease;
}

.line-drawing {
  path {
    fill: transparent;
    // stroke: none;
  }
  .circle-show {
    transition: all .8s ease;
    &.top {
      animation: circleShowTop 1.5s linear 1;
      animation-timing-function: ease-in;
    }
  }
  &.show {
    path {
      transition: fill .4s ease;
      fill: #fff;
    }
    .circle-show {

    }
    .path-show {
      transition: fill .4s ease;
      stroke: none;
    }
  }
  .path-dasharray {
    stroke-dasharray: 1,3!important;
    stroke: #646464!important;
    stroke-width: 2!important;
  }

}

@keyframes circleShowTop {
  0% {  opacity: 0; transform: scale(.3); }
  100% {  opacity: 1!important; transform: scale(1); }
}

