.services  {
  position: relative;
  background-image: url(../img/services/services-bg.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden;
  &__content {
    padding: 80px 35px;
    overflow: hidden;
    // background-color: rgba(255,255,255,.9);
  }
  &__descr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 45px;
  }
}

.services-item {
  position: relative;
  display: flex;
  padding: 20px 15px;
  background-color: rgba(255,255,255,.9);
  border-top-right-radius: 30px;
  margin-bottom: 65px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  &__img {
    width: 200px;
    img {

    }
  }
  &__title {
    font-size: 20px;
    padding: 0 30px 0 20px;
  }
  &__descr {
    width: 600px;
  }
  &__text {
    font-size: 16px;
  }
  &__price {
    padding-left: 50px;
  }
}