.services  {
  position: relative;
  background-color: #f8f8f8;
  background-image: url(../img/bg4.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &__content {
    padding: 80px 35px;
    // overflow: hidden;
    // background-color: rgba(255,255,255,.9);
  }
  &__descr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 45px;
    &-left {
      position: relative;
      width: 45%;
      .stars-grid {
        transform: rotate(90deg);
        top: -80px;
        left: -360px;
      }
    }
    &-right {
      position: relative;
      width: 45%;
      .services-item {
        margin-top: 65px;
      }
      .stars-grid {
        transform: rotate(90deg);
        bottom: -80px;
        right: -360px;
      }
    }
  }
}

.services-item {
  position: relative;
  padding: 30px 35px 45px 35px;
  background-color: #fff;
  margin-bottom: 65px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
  &__index {
    font-family: "HelveticaNeueBold";
    font-size: 30px;
    color: $color-grey;
    text-align: right;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  &__title {
    font-size: 24px;
    text-transform: uppercase;
  }
  &__descr {
    position: relative;
  }
  &__text {
    font-family: "HelveticaNeueLight";
    font-size: 17px;
  }
  &__price {
    margin: 20px 0 0 50px;
  }
  &__icon {
    position: absolute;
    width: 70px;
    top: -65px;
    left: 0;
    img {
      width: 100%;
    }
  }
}