.services  {
  position: relative;
  background-color: #f8f8f8;
  &__content {
    padding: 80px 35px;
    @media screen and (max-width: 1366px) {
      padding: 50px 0;
    }
    @media screen and (max-width: 768px) {
      padding: 50px 10px;
    }
  }
  &__descr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 45px;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
    &-left {
      position: relative;
      width: 45%;
      @media screen and (max-width: 768px) {
        width: 48%;
      }
      @media screen and (max-width: 700px) {
        width: 100%;
      }
      .stars-grid {
        transform: rotate(90deg);
        top: -80px;
        left: -360px;
      }
    }
    &-right {
      position: relative;
      width: 45%;
      @media screen and (max-width: 768px) {
        width: 48%;
      }
      @media screen and (max-width: 700px) {
        width: 100%;
      }
      .services-item {
        margin-top: 65px;
      }
      .stars-grid {
        transform: rotate(90deg);
        bottom: -80px;
        right: -360px;
      }
    }
  }
}

.services-item {
  position: relative;
  margin-bottom: 65px;
  &__content {
    padding: 30px 35px 45px 35px;
    background-color: #fff;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
    @media screen and (max-width: 550px) {
      padding: 30px 20px 45px 20px;
    }
  }
  &__index {
    font-family: "HelveticaNeueBold";
    font-size: 30px;
    color: $color-grey;
    text-align: right;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  &__title {
    font-size: 24px;
    @include css-lock(18,24,320,1920);
    text-transform: uppercase;
  }
  &__descr {
    position: relative;
  }
  &__text {
    font-family: "HelveticaNeueLight";
    font-size: 17px;
    @media screen and (max-width: 550px) {
      font-size: 16px;
    }
  }
  &__price {
    margin: 20px 0 0 50px;
    @media screen and (max-width: 380px) {
      margin: 20px 0 0 20px;
    }
  }
  &__icon {
    position: absolute;
    width: 70px;
    top: -65px;
    left: 0;
    img {
      width: 100%;
    }
  }
  &.m-b-0 {
    @media screen and (max-width: 700px) {
      margin-bottom: 0;
    }
  }
}
