<div class="about" id="about-us">
  <div class="wrapper small">
   
    <div class="about__title">... И еще более 50 стран мира используют язык как официальный</div>
     
    
    <div class="about__content">

      <div class="about__left">
        <div class="stars-grid">
          <img src="img/all-stars.svg" alt="">
        </div>
        <div class="vertical-line">
        </div>
        <div class="circle small opacity circle1">
          <img src="img/about/circle.svg" alt="">
        </div>
        <div class="circle circle2">
          <img src="img/about/circle.svg" alt="">
        </div>
        <div class="circle circle3 small opacity">
          <img src="img/about/circle.svg" alt="">
        </div>
        <div class="circle circle4 big">
          <img src="img/about/circle.svg" alt="">
        </div>
        <div class="circle circle5 small">
          <img src="img/about/circle.svg" alt="">
        </div>
        <div class="circle circle6 big opacity">
          <img src="img/about/circle.svg" alt="">
        </div>
      </div>
      <div class="about__right">
        <div class="about__descr">
          <div class="stars-grid">
            <img src="img/all-stars.svg" alt="">
          </div>
          <div class="about__block revealator-zoomin revealator-once revealator-below revealator-delay1">
            <div class="about-item">
              <i class="about-item__icon">
                <img src="img/about/address.svg" alt="">
              </i>
              <div class="about-item__content">
                <div class="about-item__title">Авторская методика</div>
                <div class="about-item__text">Именно наша методика делает занятия интересными и легкими</div>
              </div>  
            </div>
          </div>
          <div class="about__block revealator-zoomin revealator-once revealator-below revealator-delay2">
            <div class="about-item">
              <i class="about-item__icon">
                <img src="img/about/item.svg" alt="">
              </i>
              <div class="about-item__content">
                <div class="about-item__title">Материалы</div>
                <div class="about-item__text">В наших курсах мы используем лишь иностранные пособия</div>
              </div>  
            </div>
          </div>
          <div class="about__block revealator-zoomin revealator-once revealator-below revealator-delay3">
            <div class="about-item">
              <i class="about-item__icon">
                <img src="img/about/pointer.svg" alt="">
              </i>
              <div class="about-item__content">
                <div class="about-item__title">Результат</div>
                <div class="about-item__text">Мы отвечаем за результат, его Вы заметите уже через 3 пройденных урока</div>
              </div>  
            </div>
          </div>
          <div class="about__block revealator-zoomin revealator-once revealator-below revealator-delay4">
            <div class="about-item">
              <i class="about-item__icon">
                <img src="img/about/like.svg" alt="">
              </i>
              <div class="about-item__content">
                <div class="about-item__title">Легкое обучение</div>
                <div class="about-item__text">Наш принцип – Нет Зубрежке.</div>
              </div>  
            </div>
          </div>
          <div class="about__block revealator-zoomin revealator-once revealator-below revealator-delay5">
            <div class="about-item">
              <i class="about-item__icon">
                <img src="img/about/music.svg" alt="">
              </i>
              <div class="about-item__content">
                <div class="about-item__title">Регулярная система контроля Вашего результата</div>
                <div class="about-item__text">После каждого курса вы проходите тест, который поможет Вам увидеть Ваш результат</div>
              </div>  
            </div>
          </div>
          <div class="about__block revealator-zoomin revealator-once revealator-below revealator-delay6">
            <div class="about-item">
              <i class="about-item__icon">
                <img src="img/about/navigation.svg" alt="">
              </i>
              <div class="about-item__content">
                <div class="about-item__title">Доступные цены</div>
                <div class="about-item__text"></div>
              </div>  
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>