<div class="about">
  <div class="paragraph-scroll" id="paragraph1"></div>
  <div class="wrapper">
    <div class="about__content">
      <div class="title">
        <h2 class="h2 h2_section">О Lingasm</h2>
        <div class="s-line">
          <span class="s-line__left"></span>
          <span class="s-line__right"></span>
        </div>
      </div>
      <div class="about__descr">
        <div class="about__block">
          <div class="about-item">
            <i class="about-item__icon">
              <img src="img/about/address.svg" alt="">
            </i>
            <div class="about-item__content">
              <div class="about-item__title">Amet varius</div>
              <div class="about-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nobis dignissimos, assumenda rerum atque numquam, recusandae eveniet totam veniam eos error adipisci id molestiae modi quae iste in similique. Omnis.</div>
            </div>  
          </div>
        </div>
        <div class="about__block">
          <div class="about-item">
            <i class="about-item__icon">
              <img src="img/about/item.svg" alt="">
            </i>
            <div class="about-item__content">
              <div class="about-item__title">Amet varius</div>
              <div class="about-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nobis dignissimos, assumenda rerum atque numquam, recusandae eveniet totam veniam eos error adipisci id molestiae modi quae iste in similique. Omnis.</div>
            </div>  
          </div>
        </div>
        <div class="about__block">
          <div class="about-item">
            <i class="about-item__icon">
              <img src="img/about/pointer.svg" alt="">
            </i>
            <div class="about-item__content">
              <div class="about-item__title">Amet varius</div>
              <div class="about-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nobis dignissimos, assumenda rerum atque numquam, recusandae eveniet totam veniam eos error adipisci id molestiae modi quae iste in similique. Omnis.</div>
            </div>  
          </div>
        </div>
         <div class="about__block">
          <div class="about-item">
            <i class="about-item__icon">
              <img src="img/about/like.svg" alt="">
            </i>
            <div class="about-item__content">
              <div class="about-item__title">Amet varius</div>
              <div class="about-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nobis dignissimos, assumenda rerum atque numquam, recusandae eveniet totam veniam eos error adipisci id molestiae modi quae iste in similique. Omnis.</div>
            </div>  
          </div>
        </div>
         <div class="about__block">
          <div class="about-item">
            <i class="about-item__icon">
              <img src="img/about/music.svg" alt="">
            </i>
            <div class="about-item__content">
              <div class="about-item__title">Amet varius</div>
              <div class="about-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nobis dignissimos, assumenda rerum atque numquam, recusandae eveniet totam veniam eos error adipisci id molestiae modi quae iste in similique. Omnis.</div>
            </div>  
          </div>
        </div>
         <div class="about__block">
          <div class="about-item">
            <i class="about-item__icon">
              <img src="img/about/navigation.svg" alt="">
            </i>
            <div class="about-item__content">
              <div class="about-item__title">Amet varius</div>
              <div class="about-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nobis dignissimos, assumenda rerum atque numquam, recusandae eveniet totam veniam eos error adipisci id molestiae modi quae iste in similique. Omnis.</div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>