<div class="auth-courses" id="author-courses">
  <div class="stars-grid top">
    <img src="img/all-stars.png" alt="">
  </div>
  <div class="title">
    <h2 class="h2 h2_section">Авторские курсы</h2>
    <div class="s-line">
      <span class="s-line__left"></span>
      <span class="s-line__right"></span>
    </div>
  </div>
  <div class="wrapper small">
    <div class="auth-courses__content">
      <div class="author-course">
        <div class="author-course__number">01</div>
        <div class="author-course__descr">
          <div class="author-course__top">
            <div class="author-course__top-num">01</div>
            <div class="author-course__title">Курс Academic writing</div>
            <div class="author-course__icon">
              <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 32 32" height="1em" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="1em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M14.77,23.795L5.185,14.21c-0.879-0.879-0.879-2.317,0-3.195l0.8-0.801c0.877-0.878,2.316-0.878,3.194,0  l7.315,7.315l7.316-7.315c0.878-0.878,2.317-0.878,3.194,0l0.8,0.801c0.879,0.878,0.879,2.316,0,3.195l-9.587,9.585  c-0.471,0.472-1.104,0.682-1.723,0.647C15.875,24.477,15.243,24.267,14.77,23.795z"/></svg>
            </div>
          </div>
          <div class="author-course__hidden">
            <div class="author-course__text">Вам нужно вспомнить английскую грамматику? Вы забыли грамматику, которую вы когда-то изучали? Если это так, этот курс идеально подходит для вас.</div>
          </div>
        </div>
      </div>
      <div class="author-course">
        <div class="author-course__number">02</div>
        <div class="author-course__descr">
          <div class="author-course__top">
            <div class="author-course__top-num">02</div>
            <div class="author-course__title">Курс «Современные фразовые <br> глаголы»</div>
            <div class="author-course__icon">
              <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 32 32" height="1em" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="1em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M14.77,23.795L5.185,14.21c-0.879-0.879-0.879-2.317,0-3.195l0.8-0.801c0.877-0.878,2.316-0.878,3.194,0  l7.315,7.315l7.316-7.315c0.878-0.878,2.317-0.878,3.194,0l0.8,0.801c0.879,0.878,0.879,2.316,0,3.195l-9.587,9.585  c-0.471,0.472-1.104,0.682-1.723,0.647C15.875,24.477,15.243,24.267,14.77,23.795z"/></svg>
            </div>
          </div>
          <div class="author-course__hidden">
            <div class="author-course__text">Вы путаетесь во фразовых глаголах? Не знаете разницы между give in, give off, give out? Вас смущают слова see about, see off, see through, see too? </div>
            <div class="author-course__text">Незнание фразовых глаголов может застопорить вашу речь, даже если вы уже давно изучаете язык. Многие изучающие, приехав один раз в англоязычную страну, с ужасом понимают, что НИЧЕГО НЕ ПОНИМАЮТ. И 50% проблемы кроется именно в незнании фразовых глаголов.</div>
            <div class="author-course__bottom">
              <div class="author-course__subtitle">Этот курс:</div>
              <ul class="author-course__list">
                <li>Научит вас 500 фразовым глаголам</li>
                <li>Даст вам эффективные упражнения</li>
                <li>Будет веселым - глаголы вы узнаете в контексте, читая рассказы и диалоги</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="author-course">
        <div class="author-course__number">03</div>
        <div class="author-course__descr">
          <div class="author-course__top">
            <div class="author-course__top-num">03</div>
            <div class="author-course__title">Курс «Политическая риторика»</div>
            <div class="author-course__icon">
              <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 32 32" height="1em" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="1em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M14.77,23.795L5.185,14.21c-0.879-0.879-0.879-2.317,0-3.195l0.8-0.801c0.877-0.878,2.316-0.878,3.194,0  l7.315,7.315l7.316-7.315c0.878-0.878,2.317-0.878,3.194,0l0.8,0.801c0.879,0.878,0.879,2.316,0,3.195l-9.587,9.585  c-0.471,0.472-1.104,0.682-1.723,0.647C15.875,24.477,15.243,24.267,14.77,23.795z"/></svg>
            </div>
          </div>
          <div class="author-course__hidden">
            <div class="author-course__bottom">
              <div class="author-course__subtitle">По завершении этого курса вы:</div>
              <ul class="author-course__list">
                <li>Выучите около 500 слов и словосочетаний из контекста, что касаются политики</li>
                <li>Будете читать новости с англоязычных ресурсов и понимать их</li>
                <li>Овладеете навыком письма, используя новую лексику</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <div class="author-course">
        <div class="author-course__number">04</div>
        <div class="author-course__descr">
          <div class="author-course__top">
            <div class="author-course__top-num">04</div>
            <div class="author-course__title">Курс «Все что я пропустил в школе»</div>
            <div class="author-course__icon">
              <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 32 32" height="1em" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="1em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M14.77,23.795L5.185,14.21c-0.879-0.879-0.879-2.317,0-3.195l0.8-0.801c0.877-0.878,2.316-0.878,3.194,0  l7.315,7.315l7.316-7.315c0.878-0.878,2.317-0.878,3.194,0l0.8,0.801c0.879,0.878,0.879,2.316,0,3.195l-9.587,9.585  c-0.471,0.472-1.104,0.682-1.723,0.647C15.875,24.477,15.243,24.267,14.77,23.795z"/></svg>
            </div>
          </div>
          <div class="author-course__hidden">
            <div class="author-course__text">Как правило, в школах не учат особенностям английского.</div>
            <div class="author-course__bottom">
              <div class="author-course__subtitle">По завершении этого курса вы:</div>
              <ul class="author-course__list">
                <li>Узнаете, как не путать предлоги – on the table, at the table или же in the table? и другие тонкости</li>
                <li>Выучите 500 современных фразовых глаголов </li>
                <li>Вспомните все времена английского</li>
                <li>Будете намного уверенней себя чувствовать при разговоре с иностранцами.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="author-course">
        <div class="author-course__number">05</div>
        <div class="author-course__descr">
          <div class="author-course__top">
            <div class="author-course__top-num">05</div>
            <div class="author-course__title">Курс сленга</div>
            <div class="author-course__icon">
              <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 32 32" height="1em" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="1em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M14.77,23.795L5.185,14.21c-0.879-0.879-0.879-2.317,0-3.195l0.8-0.801c0.877-0.878,2.316-0.878,3.194,0  l7.315,7.315l7.316-7.315c0.878-0.878,2.317-0.878,3.194,0l0.8,0.801c0.879,0.878,0.879,2.316,0,3.195l-9.587,9.585  c-0.471,0.472-1.104,0.682-1.723,0.647C15.875,24.477,15.243,24.267,14.77,23.795z"/></svg>
            </div>
          </div>
          <div class="author-course__hidden">
            <div class="author-course__text">Вы уже знаете, что такое жиза, лойс, зашквар, но на английском общаетесь до сих пор так, будто это не ваш родной? Что ж, очень важно изучить английский сленг чтобы различать, какое выражение имеет оскорбительное значение, да и просто похвастаться перед иностранцами.</div>
          </div>
        </div>
      </div>
      <div class="author-course">
        <div class="author-course__number">06</div>
        <div class="author-course__descr">
          <div class="author-course__top">
            <div class="author-course__top-num">06</div>
            <div class="author-course__title">Курс «Native»</div>
            <div class="author-course__icon">
              <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 32 32" height="1em" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="1em" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M14.77,23.795L5.185,14.21c-0.879-0.879-0.879-2.317,0-3.195l0.8-0.801c0.877-0.878,2.316-0.878,3.194,0  l7.315,7.315l7.316-7.315c0.878-0.878,2.317-0.878,3.194,0l0.8,0.801c0.879,0.878,0.879,2.316,0,3.195l-9.587,9.585  c-0.471,0.472-1.104,0.682-1.723,0.647C15.875,24.477,15.243,24.267,14.77,23.795z"/></svg>
            </div>
          </div>
          <div class="author-course__hidden">
            <div class="author-course__text">Больше всего подходит для уровней B2, C1, C2</div>
            <div class="author-course__bottom">
              <div class="author-course__subtitle">По завершении этого курса вы:</div>
              <ul class="author-course__list">
                <li>Значительно снизите свой русский акцент</li>
                <li>Сможете анализировать всю англоязычную информацию</li>
                <li>Поймете, что при письменном общении никто и не заподозрит, что английский – ваш второй язык</li>
                <li>Без перевода сможете понять, что пишут и говорят иностранцы в интернете и за его пределами</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
