{% import 'data/data.html' as data %}
<div class="courses" id="courses">
  <div class="courses__content">
    <div class="title">
      <h2 class="h2 h2_section">Курсы</h2>
      <div class="s-line">
        <span class="s-line__left"></span>
        <span class="s-line__right"></span>
      </div>
    </div>
    <div class="courses__descr">
      <div class="courses__section bg-img">
        <div class="courses__block">
          <div class="wrapper small">
            <div class="courses-item animatedParent animateOnce">
              <div class="courses-item__block animated bounceInLeft delay-100">
                <div class="courses-item__img">
                  <img src="img/cources/cources-img1.jpg" alt="">
                </div>
                <div class="courses-item__descr">
                  <div class="courses-item__top">
                    <div class="courses-item__title">Курс А1</div>
                    <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
                  </div>
                  <div class="courses-item__content">
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Будете знать три простых времени: Past, Present и Future Simple
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Сможете понять примитивную речь иностранцев
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Пополните свой словарный запас (более 1000 слов, а этого достаточно, чтобы определить основную тему в разговоре)
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Сможете написать краткий рассказ на простую тему
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="courses-item courses-item_right animatedParent animateOnce">
              <div class="courses-item__block animated bounceInRight delay-100">
                <div class="courses-item__img reverse">
                  <img src="img/cources/cources-img2.jpg" alt="">
                </div>
                <div class="courses-item__descr">
                  <div class="courses-item__title">Курс А2</div>
                  <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
                  <div class="courses-item__content">
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Будете с ЛЕГКОСТЬЮ понимать еще несколько времен помимо Simple
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Ваш словарный запас будет превышать 2500 слов
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Сможете без труда говорить на бытовые темы
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Будете понимать англоязычные новости и сами сможете их пересказать
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Сможете уловить смысл фильма на языке оригинала
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="courses__section">
        <div class="courses__block">
          <div class="wrapper small">
            <div class="courses-item animatedParent animateOnce">
              <div class="courses-item__block animated bounceInLeft delay-100">
                <div class="courses-item__img">
                  <img src="img/cources/cources-img3.jpg" alt="">
                </div>
                <div class="courses-item__descr">
                  <div class="courses-item__title">Курс B1</div>
                  <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
                  <div class="courses-item__content">
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Будете знать ВСЕ времена английского и с легкостью их применять на практике
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Поймете все об условных предложениях
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Активно будете использовать в речи новые слова и грамматические конструкции
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Сможете писать официальные и неофициальные письма
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="courses-item courses-item_right animatedParent animateOnce">
              <div class="courses-item__block animated bounceInRight delay-100">
                <div class="courses-item__img reverse">
                  <img src="img/cources/cources-img4.jpg" alt="">
                </div>
                <div class="courses-item__descr">
                  <div class="courses-item__title">Курс B2</div>
                  <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
                  <div class="courses-item__content">
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Будете понимать речь носителей языка с первого раза
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Дополните свои знания новыми грамматическими конструкциями
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        С легкостью сможете поговорить на любую тему без запинки
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Ваш словарный запас будет составлять до 4500(!) слов
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Сможете составлять письма на любые темы
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="courses__section bg-img-map">
        <div class="courses__block lite-opacity">
          <div class="wrapper small">
            <div class="courses-item animatedParent animateOnce">
              <div class="courses-item__block animated bounceInLeft delay-100">
                <div class="courses-item__img">
                  <img src="img/cources/cources-img5.jpg" alt="">
                </div>
                <div class="courses-item__descr">
                  <div class="courses-item__title">Курс C1</div>
                  <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
                  <div class="courses-item__content">
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Будете знать ВСЕ грамматические конструкции и времена языка
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        В речи будете использовать множество фразовых глаголов, идиом, пословиц
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Сможете свободно поддержать беседу на любую тему
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        С удовольствием будете читать и понимать литературу в оригинале
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Будете улавливать 95% услышанного
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="courses-item courses-item_right animatedParent animateOnce">
              <div class="courses-item__block animated bounceInRight delay-100">
                <div class="courses-item__img reverse">
                  <img src="img/cources/cources-img6.jpg" alt="">
                </div>
                <div class="courses-item__descr">
                  <div class="courses-item__title">Курс C2</div>
                  <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
                  <div class="courses-item__content">
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Доведете до совершенства знания грамматики
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Сможете без подготовки общаться на любые темы, в том числе и на профессиональную тематику
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Будете досконально знать смысл сказанного
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Легко сможете читать серьезную литературу
                      </div>
                    </div>
                    <div class="courses-item__inner">
                      <div class="courses-item__icon">
                        <img src="img/cources/checkbox.svg" alt="">
                      </div>
                      <div class="courses-item__text">
                        Иностранцы будут думать, что вы уроженец англоязычной страны
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

