{% import 'data/data.html' as data %}

<div class="courses">
  <div class="paragraph-scroll" id="courses"></div>
  <div class="wrapper">
    <div class="courses__content">
      <div class="title">
        <h2 class="h2 h2_section">Курсы</h2>
        <div class="s-line">
          <span class="s-line__left"></span>
          <span class="s-line__right"></span>
        </div>
      </div>
      <div class="courses__descr">
        <div class="courses-item">
          <div class="courses-item__img">
            <img src="img/services.png" alt="">
          </div>  
          <div class="courses-item__descr">
            <div class="courses-item__title">1. Курс А1</div>
            <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
            <div class="courses-item__content">
              {% for cources1 in data.cources1 %}
              <div class="courses-item__inner">
                <div class="courses-item__icon">
                  <img src="img/cources/checked.svg" alt="">
                </div>
                <div class="courses-item__text">{{cources1.text}}</div>
              </div>
              {% endfor %} 
            </div>
          </div>
        </div>
        <div class="courses-item courses-item_right">
          <div class="courses-item__descr">
            <div class="courses-item__title">2. Курс А2</div>
            <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
            <div class="courses-item__content">
              {% for cources2 in data.cources2 %}
              <div class="courses-item__inner">
                <div class="courses-item__icon">
                  <img src="img/cources/checked.svg" alt="">
                </div>
                <div class="courses-item__text">
                  {{cources2.text}}
                </div>
              </div>
              {% endfor %} 
            </div>
          </div>
          <div class="courses-item__img">
            <img src="img/services.png" alt="">
          </div>
        </div>
        <div class="courses-item">
          <div class="courses-item__img">
            <img src="img/services.png" alt="">
          </div>  
          <div class="courses-item__descr">
            <div class="courses-item__title">3. Курс B1</div>
            <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
            <div class="courses-item__content">
              {% for cources3 in data.cources3 %}
              <div class="courses-item__inner">
                <div class="courses-item__icon">
                  <img src="img/cources/checked.svg" alt="">
                </div>
                <div class="courses-item__text">{{cources3.text}}</div>
              </div>
              {% endfor %} 
            </div>
          </div>
        </div>
        <div class="courses-item courses-item_right">
          <div class="courses-item__descr">
            <div class="courses-item__title">4. Курс B2</div>
            <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
            <div class="courses-item__content">
              {% for cources4 in data.cources4 %}
              <div class="courses-item__inner">
                <div class="courses-item__icon">
                  <img src="img/cources/checked.svg" alt="">
                </div>
                <div class="courses-item__text">
                  {{cources4.text}}
                </div>
              </div>
              {% endfor %} 
            </div>
          </div>
          <div class="courses-item__img">
            <img src="img/services.png" alt="">
          </div>
        </div>
        <div class="courses-item">
          <div class="courses-item__img">
            <img src="img/services.png" alt="">
          </div>  
          <div class="courses-item__descr">
            <div class="courses-item__title">5. Курс C1</div>
            <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
            <div class="courses-item__content">
              {% for cources5 in data.cources5 %}
              <div class="courses-item__inner">
                <div class="courses-item__icon">
                  <img src="img/cources/checked.svg" alt="">
                </div>
                <div class="courses-item__text">{{cources5.text}}</div>
              </div>
              {% endfor %} 
            </div>
          </div>
        </div>
        <div class="courses-item courses-item_right">
          <div class="courses-item__descr">
            <div class="courses-item__title">6. Курс C2</div>
            <div class="courses-item__subtitle">После прохождения полного курса Вы:</div>
            <div class="courses-item__content">
              {% for cources6 in data.cources6 %}
              <div class="courses-item__inner">
                <div class="courses-item__icon">
                  <img src="img/cources/checked.svg" alt="">
                </div>
                <div class="courses-item__text">
                  {{cources6.text}}
                </div>
              </div>
              {% endfor %} 
            </div>
          </div>
          <div class="courses-item__img">
            <img src="img/services.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>