<div class="feedback" id="feedback">
  <div class="wrapper small">
    <div class="title">
      <h2 class="h2 h2_section">Обратная связь</h2>
      <div class="s-line">
        <span class="s-line__left"></span>
        <span class="s-line__right"></span>
      </div>
    </div>
    <div class="feedback__content">
      <div class="feedback__content-left">
        <div class="feedback-form">
          <form class="order-form">
            <div class="order-form__inner">
              <div class="order-form__field">
                <input class="order-form__input " type="text" id="order-form-name1" />
                <label class="order-form__label" for="order-form-name1">
                  <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                    <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                  </svg>
                  <span class="order-form__label-content">Ваше имя</span>
                </label>
              </div>
            </div>
            <div class="order-form__inner">
              <div class="order-form__field">
                <input class="order-form__input " type="text" id="order-form-tel1" />
                <label class="order-form__label" for="order-form-tel1">
                  <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                    <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                  </svg>
                  <span class="order-form__label-content">Телефон</span>
                </label>
              </div>
            </div>
            <div class="order-form__inner">
              <div class="order-form__field">
                <input class="order-form__input" type="text" id="order-form-mail1" />
                <label class="order-form__label" for="order-form-mail1">
                  <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                    <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                  </svg>
                  <span class="order-form__label-content">Email</span>
                </label>
              </div>
            </div>
            <div class="order-form__inner">
              <div class="order-form__field order-form__field-big">
                <textarea class="order-form__textarea" placeholder="Ваше сообщение" id=""></textarea>
              </div>
            </div>
            <div class="order-form__btn">
              <button class="btn-form">
                Отправить
                <img src="img/send-icon.svg" alt="">
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="feedback__content-right">
        <div class="social">
          <div class="social-itm">
            <a href="#" class="social-itm__link">
              <img src="img/facebook.svg" alt="">
            </a>
          </div>
          <div class="social-itm">
            <a href="#" class="social-itm__link">
              <img src="img/instagram.svg" alt="">
            </a>
          </div>
          <div class="social-itm">
            <a href="#" class="social-itm__link">
              <img src="img/gmail.svg" alt="">
            </a>
          </div>
        </div>
        <div class="feedback-nav">
          <div class="feedback-nav__item">
            <a href="#" class="feedback-nav__link">Политика конфиденциальности</a>
          </div>
          <div class="feedback-nav__item">
            <a href="#" class="feedback-nav__link">faq</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="images-bg">
    <div class="images-bg__itm m-r-20 hidden-tablet hidden-all">
      <img src="img/footer-img1.jpg" alt="">
    </div>
    <div class="images-bg__itm m-r-20 hidden-tablet hidden-all">
      <img src="img/footer-img2.jpg" alt="">
    </div>
    <div class="images-bg__itm m-r-20 hidden-tablet hidden-all">
      <img src="img/footer-img3.jpg" alt="">
    </div>
    <div class="images-bg__itm m-r-20 hidden-all">
      <img src="img/footer-img1.jpg" alt="">
    </div>
    <div class="images-bg__itm m-r-20 hidden-all">
      <img src="img/footer-img2.jpg" alt="">
    </div>
    <div class="images-bg__itm hidden-all">
      <img src="img/footer-img3.jpg" alt="">
    </div>
  </div>
</div>
