<div class="feedback">
  <div class="wrapper">
    <div class="feedback__content">
      <div class="feedback-form">
        <form class="order-form">
          <div class="order-form__inner">
            <div class="order-form__field input input--madoka">
              <input class="order-form__input input__field input__field--madoka" type="text" id="input-31" />
              <label class="order-form__label input__label input__label--madoka" for="input-31">
                <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                  <path d="m0,0l404,0l0,77l-404,0l0,-77z"/>
                </svg>
                <span class="input-label-content input__label-content input__label-content--madoka">Name of College</span>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>