<div class="header top-section">
  <div class="header__content">
    <div class="topline" id="topline">
      <div class="topline__content">
        <div class="topline__left">
          <div class="logo">
            <img src="img/logo.png" alt="">
          </div>
        </div>
        <div class="topline__right">
          <ul class="main-nav">
            <li class="main-nav__item">
              <a href="#paragraph1" class="main-nav__link anchorJS" data-href="#paragraph1">О Lingasm</a>
            </li>
            <li class="main-nav__item">
              <a href="#paragraph2" class="main-nav__link anchorJS" data-href="#paragraph2">Пункт 2</a>
            </li>
            <li class="main-nav__item">
              <a href="#feedback" class="main-nav__link anchorJS" data-href="#feedback">Обратная связь</a>
            </li>
          </ul>
          <div class="topline__btn">
            <button class="btn">Мой план</button>
          </div>
        </div>
        <div class="mobile-menu-btn"></div>
      </div>
      <div class="progress-container">
        <div class="progress-bar"></div>
      </div>
    </div>
    
    {% include "partials/_hero.html" %}
  </div>

  <div class="scroll-down">
    <div class="scroll-down__img">
      <a class="topmenu__link anchorJS" data-href="#paragraph1" href="#paragraph1">
        <img src="img/scroll-down.png" alt="Scroll">
      </a>
    </div>
  </div>

</div>