<div class="header top-section">
  <div class="header__content">
    <div class="topline" id="topline">
      <div class="wrapper">
        <div class="topline__content">
          <div class="logo">
            <img src="img/logo.png" alt="">
          </div>
          <div class="topline__btn">
            <button class="btn">Мой план</button>
          </div>
          <div class="mobile-menu-btn"></div>
        </div>
      </div>
    </div>
    <div class="header__nav" id="fix-nav-top">
      <ul class="main-nav">
        <li class="main-nav__item">
          <a href="#paragraph1" class="main-nav__link anchorJS" data-href="#paragraph1">Пункт 1</a>
        </li>
        <li class="main-nav__item">
          <a href="#paragraph2" class="main-nav__link anchorJS" data-href="#paragraph2">Пункт 2</a>
        </li>
        <li class="main-nav__item">
          <a href="#paragraph3" class="main-nav__link anchorJS" data-href="#paragraph3">Пункт 3</a>
        </li>
        <li class="main-nav__item">
          <a href="#paragraph4" class="main-nav__link anchorJS" data-href="#paragraph4">Пункт 4</a>
        </li>
        <li class="main-nav__item">
          <a href="#paragraph5" class="main-nav__link anchorJS" data-href="#paragraph5">Пункт 5</a>
        </li>
      </ul>
      <div class="progress-container">
        <div class="progress-bar"></div>
      </div>
    </div>
    {% include "partials/_slider.html" %}
  </div>
</div>