<div class="hero">
  <div class="wrapper">
    <div class="hero__content">
      <div class="hero__left">
        <div class="hero__descr">
          <h1 class="hero__title">Lorem ipsum dolor sit amet, consectetur adipisicing </h1>
          <div class="hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate dolores porro dicta quisquam autem perferendis vel rerum, commodi blanditiis ipsam hic, sed fugit in ratione culpa totam nesciunt nisi facilis.</div>
          <div class="hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate dolores porro dicta quisquam autem perferendis vel rerum, commodi blanditiis ipsam hic, sed fugit in ratione culpa totam nesciunt nisi facilis.</div>
          <div class="hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate dolores porro dicta quisquam autem perferendis vel rerum, commodi blanditiis ipsam hic, sed fugit in ratione culpa totam nesciunt nisi facilis.</div>
        </div>
      </div>
      <div class="hero__right">
        <div class="cube-wrapper">
          <div class="cube-block">
            <div class="cube cube-front">
              <!--logo-->
              <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"   xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                <polygon fill="#FFFFFF" points="214.3,500 0,500 0,285.7 71.4,285.7 71.4,428.6 142.9,428.6 142.9,285.7 214.3,285.7 "/>
                <polygon fill="#FFFFFF" points="214.3,214.3 142.9,214.3 142.9,71.4 71.4,71.4 71.4,214.3 0,214.3 0,0 214.3,0 "/>
                <rect x="285.7" y="428.6" fill="#FFFFFF" width="214.3" height="71.4"/>
                <polygon fill="#FFFFFF" points="500,357.1 285.7,357.1 285.7,285.7 428.6,285.7 428.6,214.3 285.7,214.3 285.7,142.9 500,142.9 "/>
                <rect x="285.7" fill="#FFFFFF" width="214.3" height="71.4"/>
              </svg>
            </div>
            
            <div class="cube cube-back">
              <!--logo-->
              <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"   xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                <polygon fill="#FFFFFF" points="214.3,500 0,500 0,285.7 71.4,285.7 71.4,428.6 142.9,428.6 142.9,285.7 214.3,285.7 "/>
                <polygon fill="#FFFFFF" points="214.3,214.3 142.9,214.3 142.9,71.4 71.4,71.4 71.4,214.3 0,214.3 0,0 214.3,0 "/>
                <rect x="285.7" y="428.6" fill="#FFFFFF" width="214.3" height="71.4"/>
                <polygon fill="#FFFFFF" points="500,357.1 285.7,357.1 285.7,285.7 428.6,285.7 428.6,214.3 285.7,214.3 285.7,142.9 500,142.9 "/>
                <rect x="285.7" fill="#FFFFFF" width="214.3" height="71.4"/>
              </svg>
            </div>
            <div class="cube cube-top">
              <!--logo-->
              <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"   xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                <polygon fill="#FFFFFF" points="214.3,500 0,500 0,285.7 71.4,285.7 71.4,428.6 142.9,428.6 142.9,285.7 214.3,285.7 "/>
                <polygon fill="#FFFFFF" points="214.3,214.3 142.9,214.3 142.9,71.4 71.4,71.4 71.4,214.3 0,214.3 0,0 214.3,0 "/>
                <rect x="285.7" y="428.6" fill="#FFFFFF" width="214.3" height="71.4"/>
                <polygon fill="#FFFFFF" points="500,357.1 285.7,357.1 285.7,285.7 428.6,285.7 428.6,214.3 285.7,214.3 285.7,142.9 500,142.9 "/>
                <rect x="285.7" fill="#FFFFFF" width="214.3" height="71.4"/>
              </svg>
            </div>
            <div class="cube cube-bottom">
              <!--logo-->
              <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"   xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                <polygon fill="#FFFFFF" points="214.3,500 0,500 0,285.7 71.4,285.7 71.4,428.6 142.9,428.6 142.9,285.7 214.3,285.7 "/>
                <polygon fill="#FFFFFF" points="214.3,214.3 142.9,214.3 142.9,71.4 71.4,71.4 71.4,214.3 0,214.3 0,0 214.3,0 "/>
                <rect x="285.7" y="428.6" fill="#FFFFFF" width="214.3" height="71.4"/>
                <polygon fill="#FFFFFF" points="500,357.1 285.7,357.1 285.7,285.7 428.6,285.7 428.6,214.3 285.7,214.3 285.7,142.9 500,142.9 "/>
                <rect x="285.7" fill="#FFFFFF" width="214.3" height="71.4"/>
              </svg>
            </div>
            <div class="cube cube-left">
              <!--logo-->
              <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"   xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                <polygon fill="#FFFFFF" points="214.3,500 0,500 0,285.7 71.4,285.7 71.4,428.6 142.9,428.6 142.9,285.7 214.3,285.7 "/>
                <polygon fill="#FFFFFF" points="214.3,214.3 142.9,214.3 142.9,71.4 71.4,71.4 71.4,214.3 0,214.3 0,0 214.3,0 "/>
                <rect x="285.7" y="428.6" fill="#FFFFFF" width="214.3" height="71.4"/>
                <polygon fill="#FFFFFF" points="500,357.1 285.7,357.1 285.7,285.7 428.6,285.7 428.6,214.3 285.7,214.3 285.7,142.9 500,142.9 "/>
                <rect x="285.7" fill="#FFFFFF" width="214.3" height="71.4"/>
              </svg>
            </div>
            <div class="cube cube-right">
              <!--logo-->
              <svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg"   xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
                <polygon fill="#FFFFFF" points="214.3,500 0,500 0,285.7 71.4,285.7 71.4,428.6 142.9,428.6 142.9,285.7 214.3,285.7 "/>
                <polygon fill="#FFFFFF" points="214.3,214.3 142.9,214.3 142.9,71.4 71.4,71.4 71.4,214.3 0,214.3 0,0 214.3,0 "/>
                <rect x="285.7" y="428.6" fill="#FFFFFF" width="214.3" height="71.4"/>
                <polygon fill="#FFFFFF" points="500,357.1 285.7,357.1 285.7,285.7 428.6,285.7 428.6,214.3 285.7,214.3 285.7,142.9 500,142.9 "/>
                <rect x="285.7" fill="#FFFFFF" width="214.3" height="71.4"/>
              </svg>
            </div>  
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>


