{% import 'data/data.html' as data %}

<div class="my-level" id="my-level">
  <div class="wrapper middle">
    <div class="my-level__content">
      <div class="title">
        <h2 class="h2 h2_section">Узнать уровень английского</h2>
        <div class="s-line">
          <span class="s-line__left"></span>
          <span class="s-line__right"></span>
        </div>
      </div>
      <div class="my-level__block">
        <div class="levels">
          <div class="levels__content">
            <div class="levels__title">Вставьте пропущеное слово в предложение</div>
            <form class="question-form">
              <div class="levels__descr">
                <div class="levels__left">
                  <div class="levels__img">
                    <img src="img/bg-1.jpg" alt="">
                  </div>
                </div>
                <div class="levels__right">
                  <div class="question">
                    <div class="question__content">
                      <div class="question__title">
                        Where
                        <span class="question__gap">______</span>
                        he
                      </div>
                      <div class="question__descr">
                        <div class="question__row">
                          <div class="question-checkbox">
                            <label for="cbx" class="question-checkbox__label">
                              <input id="cbx" type="radio" class="question-checkbox__input invisible" name="asd">
                              <div class="question-checkbox__svg">
                                <svg width="24px" height="24px" viewBox="0 0 20 20">
                                  <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                  <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                              </div>
                              <span class="question-checkbox__text">are</span>
                            </label>
                          </div>
                        </div>
                        <div class="question__row">
                          <div class="question-checkbox">
                            <label for="cbx1" class="question-checkbox__label">
                              <input id="cbx1" type="radio" class="question-checkbox__input invisible" name="asd">
                              <div class="question-checkbox__svg">
                                <svg width="24px" height="24px" viewBox="0 0 20 20">
                                  <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                  <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                              </div>
                              <span class="question-checkbox__text">is</span>
                            </label>
                          </div>
                        </div>
                        <div class="question__row">
                          <div class="question-checkbox">
                            <label for="cbx2" class="question-checkbox__label">
                              <input id="cbx2" type="radio" class="question-checkbox__input invisible" name="asd">
                              <div class="question-checkbox__svg">
                                <svg width="24px" height="24px" viewBox="0 0 20 20">
                                  <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                                  <polyline points="4 11 8 15 16 6"></polyline>
                                </svg>
                              </div>
                              <span class="question-checkbox__text">am</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="levels__bottom">
                    <div class="levels__btn">
                      <a href="#" class="btn btn-topline">Пропустить</a>
                    </div>
                    <div class="levels__btn">
                      <a href="#" class="btn btn-topline">Далее</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
