<div class="servises" id="paragraph2">
  <div class="wrapper">
    <div class="servises__content">
      <h2 class="title">Пункт 2</h2>
      <div class="lll">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
        </span>
      </div>
      <div class="lll">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
        </span>
      </div>
      <div class="lll m-0">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, explicabo pariatur accusamus, optio similique sunt doloremque ea architecto minus quos omnis, veniam ratione temporibus nihil quas? Quas laudantium officiis, at?
        </span>
      </div>
    </div>
  </div>
</div>