{% import 'data/data.html' as data %}

<div class="services" id="services">
  <div class="wrapper">
    <div class="services__content">
      <div class="title">
        <h2 class="h2 h2_section">Услуги</h2>
        <div class="s-line">
          <span class="s-line__left"></span>
          <span class="s-line__right"></span>
        </div>
      </div>
      <div class="services__descr">
        <div class="services-item revealator-slideup revealator-once revealator-below revealator-delay1">
          <div class="services-item__descr">
            <div class="services-item__top">
              <h2 class="services-item__title">Перевод постов в Instagram</h2>
              <div class="services-item__img">
                <img src="img/services.png" alt="">
              </div>
            </div>
            <div class="services-item__text">
              Ведете Instagram, и половина Вашей аудитории иностранцы? И вы боитесь сделать ошибку? Не бойтесь. Мы все переведем за Ва
            </div>
          </div>
          <div class="services-item__price">
            <div class="s-price">
              <div class="s-price__text">
                До 50 слов –
                <span class="s-price__span"> 200 грн</span>
              </div>
              <div class="s-price__text">
                От 50 до 100 слов – 
                <span class="s-price__span"> 200 грн</span>
              </div>
              <div class="s-price__text">
                От 100 слов – 
                <span class="s-price__span"> 200 грн</span>
              </div>
            </div>
          </div>
        </div>
        <div class="services-item revealator-slideup revealator-once revealator-below revealator-delay1">
          <div class="services-item__descr">
            <div class="services-item__top">
              <h2 class="services-item__title">Перевод постов в Instagram</h2>
              <div class="services-item__img">
                <img src="img/services.png" alt="">
              </div>
            </div>
            <div class="services-item__text">
              Ведете Instagram, и половина Вашей аудитории иностранцы? И вы боитесь сделать ошибку? Не бойтесь. Мы все переведем за Ва
            </div>
          </div>
          <div class="services-item__price">
            <div class="s-price">
              <div class="s-price__text">
                До 50 слов –
                <span class="s-price__span"> 200 грн</span>
              </div>
              <div class="s-price__text">
                От 50 до 100 слов – 
                <span class="s-price__span"> 200 грн</span>
              </div>
              <div class="s-price__text">
                От 100 слов – 
                <span class="s-price__span"> 200 грн</span>
              </div>
            </div>
          </div>
        </div>
        <div class="services-item revealator-slideup revealator-once revealator-below revealator-delay1">
          <div class="services-item__descr">
            <div class="services-item__top">
              <h2 class="services-item__title">Перевод постов в Instagram</h2>
              <div class="services-item__img">
                <img src="img/services.png" alt="">
              </div>
            </div>
            <div class="services-item__text">
              Ведете Instagram, и половина Вашей аудитории иностранцы? И вы боитесь сделать ошибку? Не бойтесь. Мы все переведем за Ва
            </div>
          </div>
          <div class="services-item__price">
            <div class="s-price">
              <div class="s-price__text">
                До 50 слов –
                <span class="s-price__span"> 200 грн</span>
              </div>
              <div class="s-price__text">
                От 50 до 100 слов – 
                <span class="s-price__span"> 200 грн</span>
              </div>
              <div class="s-price__text">
                От 100 слов – 
                <span class="s-price__span"> 200 грн</span>
              </div>
            </div>
          </div>
        </div>
        <div class="services-item revealator-slideup revealator-once revealator-below revealator-delay1">
          <div class="services-item__descr">
            <div class="services-item__top">
              <h2 class="services-item__title">Перевод постов в Instagram</h2>
              <div class="services-item__img">
                <img src="img/services.png" alt="">
              </div>
            </div>
            <div class="services-item__text">
              Ведете Instagram, и половина Вашей аудитории иностранцы? И вы боитесь сделать ошибку? Не бойтесь. Мы все переведем за Ва
            </div>
          </div>
          <div class="services-item__price">
            <div class="s-price">
              <div class="s-price__text">
                До 50 слов –
                <span class="s-price__span"> 200 грн</span>
              </div>
              <div class="s-price__text">
                От 50 до 100 слов – 
                <span class="s-price__span"> 200 грн</span>
              </div>
              <div class="s-price__text">
                От 100 слов – 
                <span class="s-price__span"> 200 грн</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>