<div class="servises" id="paragraph2">
  <div class="wrapper">
    <div class="servises__content">
      <div class="title">
        <h2 class="h2 h2_section">Пункт 2</h2>
        <div class="s-line">
          <span class="s-line__left"></span>
          <span class="s-line__right"></span>
        </div>
      </div>
      <div class="servises__descr">
        <div class="servises-item">
          <div class="servises-item__img">
            <img src="img/services.png" alt="">
          </div>  
          <div class="servises-item__descr">
            <div class="servises-item__title">Lorem ipsum dolor</div>
            <div class="servises-item__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique omnis voluptatum quis, alias mollitia repellat a voluptatibus aperiam inventore eaque neque voluptatem obcaecati repudiandae ipsa. Deserunt quae consequatur obcaecati vel!
            </div>
          </div>
        </div>
        <div class="servises-item servises-item_right">
          <div class="servises-item__descr">
            <div class="servises-item__title">Lorem ipsum dolor</div>
            <div class="servises-item__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique omnis voluptatum quis, alias mollitia repellat a voluptatibus aperiam inventore eaque neque voluptatem obcaecati repudiandae ipsa. Deserunt quae consequatur obcaecati vel!
            </div>
          </div>
          <div class="servises-item__img">
            <img src="img/services.png" alt="">
          </div>
        </div>
        <div class="servises-item">
          <div class="servises-item__img">
            <img src="img/services.png" alt="">
          </div>  
          <div class="servises-item__descr">
            <div class="servises-item__title">Lorem ipsum dolor</div>
            <div class="servises-item__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique omnis voluptatum quis, alias mollitia repellat a voluptatibus aperiam inventore eaque neque voluptatem obcaecati repudiandae ipsa. Deserunt quae consequatur obcaecati vel!
            </div>
          </div>
        </div>
        <div class="servises-item servises-item_right">
          <div class="servises-item__descr">
            <div class="servises-item__title">Lorem ipsum dolor</div>
            <div class="servises-item__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique omnis voluptatum quis, alias mollitia repellat a voluptatibus aperiam inventore eaque neque voluptatem obcaecati repudiandae ipsa. Deserunt quae consequatur obcaecati vel!
            </div>
          </div>
          <div class="servises-item__img">
            <img src="img/services.png" alt="">
          </div>
        </div>
        <div class="servises-item">
          <div class="servises-item__img">
            <img src="img/services.png" alt="">
          </div>  
          <div class="servises-item__descr">
            <div class="servises-item__title">Lorem ipsum dolor</div>
            <div class="servises-item__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique omnis voluptatum quis, alias mollitia repellat a voluptatibus aperiam inventore eaque neque voluptatem obcaecati repudiandae ipsa. Deserunt quae consequatur obcaecati vel!
            </div>
          </div>
        </div>
        <div class="servises-item servises-item_right">
          <div class="servises-item__descr">
            <div class="servises-item__title">Lorem ipsum dolor</div>
            <div class="servises-item__text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique omnis voluptatum quis, alias mollitia repellat a voluptatibus aperiam inventore eaque neque voluptatem obcaecati repudiandae ipsa. Deserunt quae consequatur obcaecati vel!
            </div>
          </div>
          <div class="servises-item__img">
            <img src="img/services.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>