<div class="slider">
  <div class="slider__content js-slider">
    <div class="slide-item slick-active">
      <div class="slide-item__content">
        <div class="slide-item__text rotateIn">
          <p>Не знаете</p>
          <p>с чего начать изучение</p>
          <p>английского языка?</p>
        </div>
        <div class="slide-item__img zoomIn">
          <img src="img/cube.png" alt="">
        </div>
      </div>
    </div>
    <div class="slide-item">
      <div class="slide-item__content">
        <div class="slide-item__text">
          <p>Не знаете</p>
          <p>с чего начать изучение</p>
          <p>английского языка?</p>
        </div>
        <div class="slide-item__img">
          <img src="img/cube.png" alt="">
        </div>
      </div>
    </div>
    <div class="slide-item">
      <div class="slide-item__content">
        <div class="slide-item__text">
          <p>С Lingasm</p>
          <p>Легко и весело :)</p>
        </div>
        <div class="slide-item__img">
          <img src="img/cube.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>