<div class="topline" id="topline">
  <div class="topline__content">
    <div class="nav-respons">
      <div class="nav-respons__left">
        <div class="logo">
          <a class="logo-link anchorJS" href="#hero" data-href="#hero">
            <img src="img/logo.svg" alt="">
          </a>
        </div>
      </div>
      <div class="nav-respons__right">
        <div class="navbar-responsive__btn navbar-responsive__btn-active">
          <span>toggle menu</span>
        </div>
      </div>
    </div>
    <div class="topline__right js-nav-swipe">
      <div class="logo">
        <a class="logo-link anchorJS" href="#hero" data-href="#hero">
          <img src="img/logo.svg" alt="">
        </a>
      </div>
      <ul class="main-nav changeActiveNav">
        <li class="main-nav__item">
          <a href="#about-us" class="main-nav__link anchorJS" data-href="#about-us">О Lingasm</a>
        </li>
        <li class="main-nav__item">
          <a href="#courses" class="main-nav__link anchorJS" data-href="#courses">Курсы</a>
        </li>
         <li class="main-nav__item">
          <a href="#author-courses" class="main-nav__link anchorJS" data-href="#author-courses">Авторские курсы</a>
        </li>
        <li class="main-nav__item">
          <a href="#services" class="main-nav__link anchorJS" data-href="#services">Услуги</a>
        </li>
        <li class="main-nav__item">
          <a href="#feedback" class="main-nav__link anchorJS" data-href="#feedback">Обратная связь</a>
        </li>
      </ul>
      <div class="topline__btn">
        <div class="topline__btn-inner first">
          <a href="#" class="btn btn-topline">Мой план</a>
        </div>
        <div class="topline__btn-inner">
          <a href="#my-level" class="btn btn_bg btn-topline anchorJS" data-href="#my-level">Узнать уровень</a>
        </div>
      </div>
    </div>
  </div>
  <div class="progress-container">
    <div class="progress-bar"></div>
  </div>
</div>
