<div class="topline" id="topline">
  <div class="topline__content">
    <div class="topline__left">
      <div class="logo">
        <a class="logo-link anchorJS" href="#hero-section" data-href="#hero-section">
          <img src="img/logo.png" alt="">
        </a>
      </div>
    </div>
    <div class="topline__right">
      <ul class="main-nav changeActiveNav">
        <li class="main-nav__item">
          <a href="#about-us" class="main-nav__link anchorJS active" data-href="#about-us">О Lingasm</a>
        </li>
        <li class="main-nav__item">
          <a href="#courses" class="main-nav__link anchorJS" data-href="#courses">Курсы</a>
        </li>
         <li class="main-nav__item">
          <a href="#author-courses" class="main-nav__link anchorJS" data-href="#author-courses">Авторские курсы</a>
        </li>
        <li class="main-nav__item">
          <a href="#services" class="main-nav__link anchorJS" data-href="#services">Услуги</a>
        </li>
        <li class="main-nav__item">
          <a href="#feedback" class="main-nav__link anchorJS" data-href="#feedback">Обратная связь</a>
        </li>
      </ul>
      <div class="topline__btn">
        <button class="btn">Мой план</button>
      </div>
    </div>
    <div class="mobile-menu-btn"></div>
  </div>
  <div class="progress-container">
    <div class="progress-bar"></div>
  </div>
</div>