
{% set 
cources1 = [
	{
		text: 'Будете знать три простых времени: Past, Present и Future Simple'
	},
	{
		text: 'Сможете понять примитивную речь иностранцев'
	},
	{
		text: 'Пополните свой словарный запас (более 1000 слов, а этого достаточно, чтобы определить основную тему в разговоре)'
	},
	{
		text: 'Сможете написать краткий рассказ на простую тему'
	}
] 
%},

{% set 
cources2 = [
	{
		text: 'Будете с ЛЕГКОСТЬЮ понимать еще несколько времен помимо Simple'
	},
	{
		text: 'Ваш словарный запас будет превышать 2500 слов'
	},
	{
		text: 'Сможете без труда говорить на бытовые темы'
	},
	{
		text: 'Будете понимать англоязычные новости и сами сможете их пересказать'
	},
	{
		text: 'Сможете уловить смысл фильма на языке оригинала'
	}
] 
%},

{% set 
cources3 = [
	{
		text: 'Будете знать ВСЕ времена английского и с легкостью их применять на практике'
	},
	{
		text: 'Поймете все об условных предложениях '
	},
	{
		text: 'Активно будете использовать в речи новые слова и грамматические конструкции'
	},
	{
		text: 'Сможете писать официальные и неофициальные письма '
	}
] 
%},

{% set 
cources4 = [
	{
		text: 'Будете понимать речь носителей языка с первого раза'
	},
	{
		text: 'Дополните свои знания новыми грамматическими конструкциями'
	},
	{
		text: 'С легкостью сможете поговорить на любую тему без запинки'
	},
	{
		text: 'Ваш словарный запас будет составлять до 4500(!) слов'
	},
	{
		text: 'Сможете составлять письма на любые темы '
	}

] 
%},

{% set 
cources5 = [
	{
		text: 'Будете знать ВСЕ грамматические конструкции и времена языка'
	},
	{
		text: 'В речи будете использовать множество фразовых глаголов, идиом, пословиц'
	},
	{
		text: 'Сможете свободно поддержать беседу на любую тему'
	},
	{
		text: 'С удовольствием будете читать и понимать литературу в оригинале'
	},
	{
		text: 'Будете улавливать 95% услышанного'
	}
	
] 
%},

{% set 
cources6 = [
	{
		text: 'Доведете до совершенства знания грамматики'
	},
	{
		text: 'Сможете без подготовки общаться на любые темы, в том числе и на профессиональную тематику'
	},
	{
		text: 'Будете досконально знать смысл сказанного'
	},
	{
		text: 'Легко сможете читать серьезную литературу '
	},
	{
		text: 'Иностранцы будут думать, что вы уроженец англоязычной страны'
	}
] 
%}


