{% set 
catalogbeg = [
	{
		image: 'img/category-beg1.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб', 
		oldprice: '2 990 ',
		newprice:'2 990 ',
		hotprice: true
	},
	{
		image: 'img/category-beg2.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб',
		oldprice: '2 990 ',
		newprice:'3 220 ',
		hotprice: false
	},
	{
		image: 'img/category-beg3.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб',
		oldprice: '2 990 ',
		newprice:'2 990 ',
		hotprice: false
	},
	{
		image: 'img/category-beg4.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб',
		oldprice: '2 990 ',
		newprice:'2 990 ',
		hotprice: false
	},
	{
		image: 'img/category-beg5.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб',
		oldprice: '2 990 ',
		newprice:'3 220 ',
		hotprice: false
	},
	{
		image: 'img/category-beg6.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб',
		oldprice: '2 990 ',
		newprice:'1 995 ',
		hotprice: true
	},
	{
		image: 'img/category-beg7.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб',
		oldprice: '2 990 ',
		newprice:'2 990 ',
		hotprice: false
	},
	{
		image: 'img/category-beg8.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб',
		oldprice: '2 990 ',
		newprice:'3 220 ',
		hotprice: false
	},
	{
		image: 'img/category-beg9.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб',
		oldprice: '2 990 ',
		newprice:'1 995 ',
		hotprice: false
	}
] 
%},

{% set 
basket = [
	{
		image: 'img/basketGoods1.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		price: '2 990',
		span: 'руб'
	},
	{
		image: 'img/basketGoods2.jpg',
		title: 'Простынь Kingsilk',
		p: '2-х спальное',
		price: '3 270',
		span: 'руб'
	}
	
] 
%},

{% set 
bannerProduct = [
	{
		image: 'img/category-beg4.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб', 
		oldprice: '2 990 ',
		newprice:'2 990 ',
		hotprice: false
	},
	{
		image: 'img/category-beg5.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб', 
		oldprice: '2 990 ',
		newprice:'3 220 ',
		hotprice: false
	},
	{
		image: 'img/category-beg9.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб', 
		oldprice: '2 990 ',
		newprice:'1 995 ',
		hotprice: false
	},
	{
		image: 'img/category-beg4.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб', 
		oldprice: '2 990 ',
		newprice:'2 990 ',
		hotprice: false
	},{
		image: 'img/category-beg4.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб', 
		oldprice: '2 990 ',
		newprice:'2 990 ',
		hotprice: false
	},
	{
		image: 'img/category-beg9.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб', 
		oldprice: '2 990 ',
		newprice:'2 990 ',
		hotprice: false
	},
	{
		image: 'img/category-beg4.jpg',
		title: 'Постельное белье Kingsilk',
		p: '2-х спальное',
		spanthin: 'руб', 
		oldprice: '2 990 ',
		newprice:'2 990 ',
		hotprice: false
	}
		
] 
%}