<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" media="all" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,900" rel="stylesheet">
    <!-- {# {% include "../partials/_media-tags.html" %} #} -->
  </head>
  <body>
    <div class="content-out">
      {% include "partials/_header1.html" %}
      <!-- BEGIN content -->
      {% block content %}{% endblock %}
      <!-- END content -->
      {% include "partials/_footer.html" %}
    </div>
      <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
